#heading {
	background-image: url("../photos/globe.jpg");
	background-position: bottom;
	text-align: center;
    color: white;
    margin-bottom: 0px;
    text-shadow: 2px 2px black;
}

#footer {
	text-align: center;
	margin-top: 100px;
}

#home-header {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 100px;
}

#adminLink {
	text-align: right;
	margin-top: 15px;
}

.content-divs {
	border-style: solid;
	border-radius: 15px;
	margin-left: 50px;
	margin-right: 50px;
}

.content-divs p {
	padding-left: 50px;
	padding-right: 50px;
}

.mainDiv {
	text-align: center;
	background-color: #0fe4f0;
	margin-top: 50px;
	margin-bottom: 0px;
	color: black;
}

.main-title {
    margin-bottom: 0px;
    margin-top: 0px;
    
}

.column-title-center {
	text-align: center;
}

.jumbotron {
	min-height: 600px;
}
