#heading {
	background-color: yellow;
    text-align: center;
}

#navigation-bar {
	
}

.mainDiv {
	text-align: center;
	background-color: #0fe4f0;
	margin-top: 50px;
	margin-bottom: 0px;
	color: black;
}

.main-title {
    margin-bottom: 0px;
    margin-top: 0px;
}

